<aside class="contact">
	<a href="{{site.contact.institutelogo.url}}">
		<img class="institutelogo" src="{{site.contact.institutelogo.path | absolute_url }}" >
	</a>
	<h1>Kontakt</h1>
	<p class="colored"><b>{{site.contact.header}}</b></p>
	<p>{{ site.contact.person }}</p>
	<p>{% if site.contact.room %} {{ site.contact.room }}<br> {% endif %}
	{{ site.contact.street }}<br>
	{{ site.contact.postal_code }} {{ contact.city }}</p>
	<p>Technische Universität Darmstadt</p>
	{% if site.contact.phone %} <i class="fa fa-phone" aria-hidden="true"></i>{{ site.contact.phone }}<br> {% endif %}
	{% if site.contact.fax %} <i class="fa fa-fax" aria-hidden="true"></i>{{ site.contact.fax }}<br> {% endif %}
	<i class="fa fa-envelope-o" aria-hidden="true"></i> <u><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></u>
	{% for logo in site.contact.logos %}
			<h1>{{logo.title}}</h1>
			<a href="{{logo.url}}">
				<img class="institutelogo" src="{{ logo.path | absolute_url }}" >
			</a>
	{% endfor %}
</aside>
